

* {
  
font-family: 'Playfair Display', serif;

}


header {
  background-color: #F9F1EF;
  position: relative;
}

.login a {
  text-decoration: none;
  color: #113650;  
}



/* Portada - banner */
#carouselHome {
  position: fixed;
  top: -260px;
  z-index: -1;
  contain: content;
  
}

#carouselHome .atras {
  height: 1300px;
}

#front {
  position: relative;
  background-position: bottom;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #FFF;
  flex-direction: column;
  
}

.texto-front {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #000;
  font-weight: 600;
  text-shadow: #1b1b1b 1px 0 1px
}

#bajada {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: #000 1px 0 10px;
}

#descripcion {
  text-align: center;
  padding: 10% 20%;
  background-color: #F9F1EF;
  font-size: larger;
}

#reserva {
  background-image: url(../public/img/RIC5292-2048x1392.png);
  position: relative;
  background-position: bottom;
  min-height: 300px;
  max-height: 700px;
  display: flex;
  align-items: center;
  color: #FFF;  

  
}

#aqui {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 50%;
  
}

#aqui .bresh {
  background-color: #000;
  border: #000;
  border-radius: 0%;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aqui .bresh:hover {
  background-color: #113650;
  
}

/* mapa */
.map { 
  
  height: 100%;
  width: 100%;
}

#mapaReserva {
    height: 700px;
    width: 50%;
}





/* Footer */
#primeraParte {
  display: flex;
  justify-content: center;
}


footer {
  position: relative;
  background-color: #222;
  padding-top: 60px;
  padding-bottom: 10px;
  color: #fff;
  
}

#footerIzq {
  display: flex;
  flex-direction: column;
  padding: 10px 100px;
  text-align: center;
}

#footerIzq a {
  text-decoration: none;
  color: #FFF;
}

.socialmedia-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 100px;
  border-left-style: dashed;
  border-right-style: dashed;
  border-color: #000;
}

.socialmedia-container a {
  text-decoration: none;
  color: #FFF;
}

#rrss {
  display: flex;
  justify-content:space-evenly ;
}





#footerDer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 100px;
}

.footerReserva {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerReserva .bresh {
    color: #000;
    background-color: #F9F1EF;
    border: #000;
    border-radius: 0%;
    width: 200px;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerReserva .bresh:hover{  
  background-color: #113650;  
}

#imagenFooter {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#logoFooter {
  display: flex;
  justify-content: center;

}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5px;
}





.logo-color {
  display: none;
}

.socialmedia-container a:hover {
  .logo {
      display: none;
  }

  .logo-color {
      display: flex;
  }
}



.footer-container a {
  font-size: 12px;
  color: #aaa;
  font-weight: normal;
  text-decoration: none;
}

.bottom {
  
  display: flex;
  flex-direction: column;
   
}

.bottom hr {
  width: 75%;
  align-self: center;
}

.bottom p {
  text-align: center;
}



/* tabla */



.tabla-resultados {
  border: 1px solid #000; /* Establece un borde sólido de 1 píxel de ancho y color negro */
  border-collapse: collapse; /* Combina los bordes de las celdas para que se vean como uno solo */
  
}

.tabla-resultados th, .tabla-resultados td {
  border: 1px solid #000; /* Aplica bordes a las celdas (th y td) */
  padding: 8px; /* Agrega espacio interno para que el contenido no esté pegado al borde */
  max-width: 400px;
  overflow: auto;
}




#payments {
  grid-area: 4 / 2 / span 1 / span 1 ;
  justify-self: center;
  align-self: center;
  
}

/* 1100 media queris */
@media (max-width: 1100px) {
  #primeraParte {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .socialmedia-container {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
    padding: 10px 100px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left: none;
    border-right: none;
    border-color: #000;
    
  }
}



@media (max-width: 991px) {
  .navorder {
    display: flex ;
  }

  #carouselHome {
    right: -900px;
    
  }

  #front {
    min-height: 700px;
  }

  #bajada {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  #carouselHome {
    top: 0;
    right: -800px;
  }

  #carouselHome .atras{
    height: 1000px;
  }

  #logo-figura {
    display: none;
  }

  .texto-front {
    font-size: 70px;
  }

  #reserva {
    
    position: relative;
    
    background-size: cover;
    
    min-height: 300px;
    max-height: 700px;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    color: #FFF;  
    
  }
  
  #aqui {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 300px;
    width: 100%;
  }

  #mapaReserva {
    height: 350px;
    width: 100%;

    
}
}




/* Nosotros */
#about-fondo {
  background-color: #F9F1EF;
}

.about {
  background-color: #F9F1EF;
  margin: auto;
  max-width: 900px;
  text-align: center;
  font-size: large;
}

.aboutImage img{
  width: 100%;

}

/* subir */
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}


/* agregados */

.tabla-resultados {
  border: 1px solid #000;
  /* Establece un borde sólido de 1 píxel de ancho y color negro */
  border-collapse: collapse;
  /* Combina los bordes de las celdas para que se vean como uno solo */
  margin-bottom: 30px;
  text-align: center;
  max-width: 400px;

}

.tabla-resultados th,
.tabla-resultados td {
  border: 1px solid #000;
  /* Aplica bordes a las celdas (th y td) */
  padding: 8px;
  /* Agrega espacio interno para que el contenido no esté pegado al borde */
  max-width: auto;
  overflow: auto;

}

/* Centrar los contenidos de la tabla */
.tabla-centro {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  max-width: auto;
}

/* Ajustar la tabala 1050px */
@media (max-width: 1050px) {
  .tabla-resultados {
    border: 0px; /* Elimina los bordes de la tabla */
    
    margin-bottom: 30px;
    text-align: left;
    max-width: 400px;
  }

  .tabla-resultados th,
  .tabla-resultados td {
    border: 0px; /* Elimina los bordes de la tabla */
    padding: 8px;
    /* Agrega espacio interno para que el contenido no esté pegado al borde */
    max-width: auto;
    overflow: auto;

  }

 td {
    text-align: left;
    max-width: auto;
  }

  table {
    width: 100%;
    
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
  }

  table td[data-titulo] {
    display: flex;
  }

  table td[data-titulo]::before {
    content: attr(data-titulo);
    text-align: left;
    width: 100px;
    color: blue;
    font-weight: bold;

  }

  table thead {
    display: none;
  }
}

.input-anchos {
  width: 300px;
}

.input-separados {
  margin-bottom: 0px;
}

.table-titulos th {
  text-align: center;
}




td {
  text-align: center;
  /* Centra el contenido de todas las celdas */
  max-width: auto;
}


/*ajusta la tabla hasta 450px */

@media (max-width: 450px) {
  .tabla-resultados {
    border: 0px; /* Elimina los bordes de la tabla */
    
    margin-bottom: 1px;
    text-align: left;
    max-width: auto;
    
    
  }

  .tabla-resultados th,
  .tabla-resultados td {
    border: 0px; /* Elimina los bordes de la tabla */
    padding: 8px;
    /* Agrega espacio interno para que el contenido no esté pegado al borde */
    max-width: auto;
    overflow: auto;

  }

 td {
    text-align: left;
    max-width: auto;
  }

  table {
    width: auto;
    
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    
    padding: 1em;
    margin-bottom: 1em;
  }

  table td[data-titulo] {
    display: flex;
    width: min-content;
  }

  table td[data-titulo]::before {
    content: attr(data-titulo);
    text-align: left;
    width: 82px;
    color: blue;
    font-weight: bold;

  }

  table thead {
    display: none;
  }

  .tabla-centro {
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
    margin: auto;
    
  }

  .tabla-centro tr {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 340px;
    
  }

  .tabla-centro td {
   
    width: 300px !important;
    
  }

  .tabla-centro td::before {
    
    width: 100px !important;
    
    
  }

  
}

.input-anchos {
  width: 300px;
}

.input-separados {
  margin-bottom: 0px;
}

.table-titulos th {
  text-align: center;
}




td {
  text-align: center;
  /* Centra el contenido de todas las celdas */
  max-width: auto;
}


.boton-reserva {
  background-color: #113650;
  color: white;
  border: #113650;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.boton-reserva:hover {
  background-color: rgb(61, 112, 224);

}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

/* otros */

#menu-fondo {
  background-color: #F9F1EF;
}

#reserva-fondo {
  background-color: #F9F1EF;
}

#administrador-fondo {
  background-color: #F9F1EF;
}

